<div class="navbar">
    <h1>School<code>Admin</code> App</h1>
  </div>


<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Full Names</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Identity Number</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="999999 9999 99 9">
      </div>


    <div class="form-group">
      <label for="exampleFormControlTextarea1">Modules</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
