<div class="navbar">
  <h1>School<code>Admin</code> App</h1>
  <div class="dropdown">
    <button class="dropbtn"><a href="/add" class="w3-button w3-black">Add</a>
      <i class="fa fa-caret-down"></i>
    </button>
</div>

 <table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Full Names</th>
    <th scope="col">Email</th>
    <th scope="col">ID Number</th>
    <th scope="col">Modules</th>
    <th scope="col">Date Registered</th>
    <th scope="col">Date Modified</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let adminService of info; index as j">
    <td>{{j + 1}}</td>
    <td>{{adminService.name}}</td>
    <td>{{adminService.email}}</td>
    <td>{{adminService.idNo}}</td>
    <td>{{adminService.modules}}</td>
    <td>{{adminService.dateReg}}</td>
    <td>{{adminService.dateMod}}</td>
    <div class="spacing">
      <a href="/details" class="w3-button w3-black"><button type="button" class="btn btn-info">View Profile</button></a>
      
      <a href="/update" class="w3-button w3-black"><button type="button" class="btn btn-dark">Update Profile</button></a>
      
      <a href="/delete" class="w3-button w3-black"><button type="button" class="btn btn-danger">Delete Profile</button></a>
    </div>
  </tr>
  </tbody>
</table>

