<div class="navbar">
    <h1>School<code>Admin</code> App</h1>
  </div>


<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Full Names</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Identity Number</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="000000 0000 00 0">
      </div>


    <div class="form-group">
      <label for="exampleFormControlTextarea1">Modules</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>


  <div class="dropdown">
    <!-- <button class="dropbtn"><a href="/home" class="w3-button w3-black">Done</a>
        <i class="fa fa-caret-down"></i>
    </button> -->
    <form action="/home" class="inline">
        <button class="float-left submit-button" >Done</button>
    </form>
    <input type="button" value="Back" onclick="window.history.back()">
</div>
