<h1>Registration</h1>


<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <form id="add-person-form">

      <div class="form-group">
        <input type="text" name="name" [(ngModel)]="name" placeholder="Full Names" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" name="email" [(ngModel)]="email" placeholder="email@example.com" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" name="password" [(ngModel)]="password" placeholder="Your Password!" class="form-control">
      </div>

      <button class="btn btn-primary" style="float: right;" (click)="add_user()">Register</button>
    </form>

  </div>
</div>